.container {
    height: 500px;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    flex-direction: column;
}

.chartTitle{
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}

.canvas {
    max-width: 250px;
}

.emptyMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: gray;
}

.categoryList {
    margin-top: -30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.categoryItem {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.colorBox {
    width: 15px;
    height: 15px;
    margin-right: 8px;
    border-radius: 3px;
}

.categoryLabel {
    font-weight: bold;
    margin-right: 4px;
}

/* Estilos para telas maiores */
@media screen and (min-width: 575px) {
    .container {
        padding-left: 20px;
        height: auto;
    }

    .canvas {
        max-width: 300px;
    }
}

/* Estilos para telas menores */
@media screen and (max-width: 574px) {
    .container {
        height: auto;
        width: 100%;
        padding: 10px !important;
    }

    .categoryList {
        padding: 0px;
        display: flex;
        flex-direction: column;
    }

    .categoryItem {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 4px 0;
    }

    .colorBox {
        width: 18px;
        height: 18px;
        margin-right: 10px;
    }

    .categoryLabel, .categoryValue {
        font-size: 1rem;
    }
}
