@media screen and (min-width: 575px) {
    /*Desktop*/

    .container {
        display: grid;
        grid-template-columns: minmax(300px, 1fr) minmax(400px, 1fr);
        grid-template-rows: auto auto auto auto;
        gap: 20px;
        padding: 20px 30px;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
        overflow-y: auto;
        margin: 65px 0px 0px 55px; /* top, right, bottom, left */
        max-width: 1400px;
        padding-top: 0;
    }

    .date {
        font-size: 18px;
        height: 35px;
        font-weight: bold;
        background-color: var(--back-color);
        color: var(--font-color);
        text-align: center;
        justify-content: top;
        align-items: center;
        padding: 10px;
        border-radius: 12px;
        margin: 0;
        margin-bottom: 0;
    }

    .date,
    .annualBalance,
    .InOut,
    .monthBalance {
        grid-column: 1;
        width: 100%;
        margin: 0;
    }

    .graph {
        grid-column: 2;
        grid-row: 1 / span 4;
        height: 100% !important;
        min-height: 400px;
        max-height: fit-content;
        margin-left: 15px !important;
        justify-self: start;
        align-items: center;
        text-align: center;
        align-self: start;
    }

    .card {
        background-color: var(--back-color);
        color: var(--font-color) !important;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
        overflow: hidden; 
        transition: transform 0.3s, box-shadow 0.3s;
        margin: 0px; 
    }


    .income, .outgoing {
        background-color: var(--back-color);
        border-radius: 10px;
        width: calc(50% - 10px); 
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px; 
        margin: 0;
    }

    .income .p, .outgoing .p {
        text-align: center;
        font-size: 22px; 
        font-weight: 500;
    }

    .annualBalance{
        margin-top: -135px !important;
    }

    .InOut {
        padding: 0;
        margin-top: -380px;
        margin-left: 9px;
        display: flex;
        gap: 10px; 
        align-items: center;
    }

    .monthBalance{
        margin-top: -220px !important;
    }

    .annualBalance, .monthBalance {
        border-radius: 10px;
        height: 80px;
        padding: 10px;
    }

    .annualBalance .p, .monthBalance .p {
        text-align: center;
        font-size: 20px; 
        font-weight: bold;
    }

    .positive {
        color: green !important; 
    }
  
    .negative {
        color: red !important; 
    }
  
    .graph {
        background-color: var(--back-color);
        color: var(--font-color) !important;
        width: 100%;
        border-radius: 10px;
        flex: 1;
        display: flex;
        overflow: hidden;
        height: 400px; 
    }

    .p{
        margin: auto;
    }
    
}


@media screen and (max-width: 574px) {
    /*Mobile*/
.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
    box-sizing: border-box !important;
    font-family: "Poppins", sans-serif;
    height: auto;
    min-height: 100vh;
    overflow-y: auto;
    margin-bottom: 50px;
}

.p{
    margin: auto;
}


.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.217);
    overflow: hidden; 
    transition: transform 0.3s, box-shadow 0.3s;
}

.date {
    font-size: 18px;
    font-weight: bold;
    background-color: var(--back-color);
    color: var(--font-color);
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 7px;
    border-radius: 12px;
    margin: 56px 0px -8vw 0px;
}

.datePicker{
    text-align: center;
}

.name{
    color: var(--font-color) !important;
}

.InOut {
    padding: 0;
    margin-top: -7vw !important;
    display: flex;
    gap: 10px;
}

.income {
    background-color: var(--back-color);
    border-radius: 10px;
    width: 50%;
    height: 65px;
    margin-top: 10%;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.income .p {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: green;
}

.outgoing {
    background-color: var(--back-color);
    border-radius: 10px;
    width: 50%;
    height: 65px;
    margin-top: 10%;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.outgoing .p {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: rgb(193, 1, 1);
}

.annualBalance {
    margin: 10vw 0px 0px 0px;
    background-color: var(--back-color);
    border-radius: 10px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.annualBalance .p{
    text-align: center;
    font-size: 19px;
    font-weight: bold;
}

.monthBalance {
    margin: 10px 0px 10px 0px;
    background-color: var(--back-color);
    border-radius: 10px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.monthBalance .name {
    margin-top: -5px;
}

.monthBalance .p {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

  .positive {
    color: green !important; 
  }
  
  .negative {
    color: red !important; 
  }
  
  .graph {
    background-color: var(--back-color);
    color: var(--font-color) !important;
    width: 100%;
    border-radius: 10px;
    flex: 1; 
    display: flex;
    overflow: hidden; 
    height: auto; 
}

}