:root {
  --btn-size: 3.5rem;
}

.floatingButton {
  position: fixed;
  bottom: 80px;
  right: 10px;
  z-index: 1000;
  width: var(--btn-size) !important;
  height: var(--btn-size) !important;
  transition: all 0.3s ease-in-out !important;
}

.floatingButton:hover {
  transform: scale(1.1) rotate(90deg);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}