.formGroup {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .formInput {
    margin-bottom: 15px;
  }
  
  .formDate {
    width: 100%;
  }
  

@media (min-width: 575px) {

    .container {
        max-width: 1500px;
        margin: 0 auto;
    }

    .form{
        margin-top: 20px;
    }
    
    .modal{
        margin-top: -80px !important;
        padding: 0 !important;
    }
    

    .title {
        font-size: 2rem;
        margin-bottom: 20px;
        margin-top: 0;
    }

    .formGroup {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 20px;
        row-gap: 15px;
    }

    .formInput label {
        font-size: 1.2rem;
        margin-bottom: 5px;
    }

    .formInput input,
    .formInput .ant-select,
    .formInput .ant-picker {
        font-size: 1rem;
        height: 45px;
        padding: 0 12px;
    }

    .formSubmit{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: auto;
        width: 100px;
        margin-top: 5px;
        margin-bottom: 0px;
        font-size: 22px;
        padding: 16px;
    }

    .formDate {
        width: 100%;
    }
}


@media screen and (max-width: 574px){
.form{
    margin-top: 20px;
}

.modal{
    margin-top: -70px !important;
    padding: 0 !important;
}

.title{
    margin-top: -25px !important;
    margin-bottom: 10px !important;
}

.formInput{
    margin-bottom: -10px;
} 

.formInput label {
    font-size: 19px !important;
    margin-bottom: -10px !important;    
    margin-top: 0px !important;
    color: var(--label-color); 
    font-weight: bold;      
    display: block;          
}

.selectOption{
    font-size: 17px !important;
}


.customSelect .ant-select-selection-item {
    font-size: 20px; 
    padding: 0px; 
    height: 30px;
    display: flex;
    align-items: center;
  }
  
  

.formSubmit{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 100px;
    margin-top: 5px;
    font-size: 22px;
    padding: 16px;
}

.formDate{
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
}
}