.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.container{
    margin-top: 70px;

    margin-bottom: 150px;
}

.categoriesList{
    margin-top: -35px;
}