.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.container{
    margin-top: 70px;

    margin-bottom: 150px;
}

.categoriesList{
    margin-top: -35px;
}

.listCategories{
    padding: 0px;
    margin: 0px;
    background-color: whitesmoke;
    font-weight: 500;
    font-size: 0.9rem;
}