.paymentPage {
  min-height: 100vh;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
}

.paymentContainer {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin-top:5rem;
}

.productCard {
  width: 100%;
  max-width: 500px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.cardHeader {
  background: linear-gradient(135deg, var(--primary-color) 0%, var(--primary-dark) 100%);
  color: rgb(255, 255, 255);
  padding: 0.2em;
  text-align: center;
}

.productTitle {
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 0rem;
}

.productSubtitle {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8);
}

.priceSection {
  display: flex;
  justify-content: center;
  padding: 0rem 0;
}

.priceContainer {
  display: flex;
  align-items: baseline;
}

.currencySymbol {
  font-size: 1.5rem;
  color: #666;
  margin-right: 0.25rem;
}

.priceAmount {
  font-size: 3rem;
  font-weight: bold;
  color: #333;
}

.pricePeriod {
  font-size: 1rem;
  color: #666;
  margin-left: 0.25rem;
}

.featuresList {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.featureItem {
  display: flex;
  align-items: center;
  margin-bottom: 0.75rem;
  color: #333;
}

.checkIcon {
  color: #4caf50;
  margin-right: 0.75rem;
  font-weight: bold;
}

.actionSection {
  padding: 1rem 2rem;
}

.subscribeButton {
  width: 100%;
  padding: 0.75rem;
  background: linear-gradient(135deg, var(--primary-color) 0%, var(--primary-dark) 50%);
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.subscribeButton:hover {
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
}

.subscribeButton:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.accessPortalSection {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.guaranteeText {
  background-color: #f4f4f4;
  color: #1f1f1f;
  text-align: center;
  padding: 1rem;
  font-weight: 500;
  font-size: 0.85rem;
}

@media screen and (max-width: 574px) {
  .paymentContainer {
    padding: 0rem 0.5rem; /* top and bottom 0, left and right 1rem */
    margin-top: 0.5rem;
  }
  .actionSection {
    padding: 0rem 1rem;
  }
}