.body{
    margin-top: 70px;
}

.title{
    margin-bottom: 0px !important;
}

.formInput{
    font-size: 22px !important;
    margin-bottom: -2px;
}

.formInput .ant-input {
    font-size: 22px !important;       /* Aumenta o tamanho da fonte */
    padding: 8px !important;          /* Adiciona padding para dar mais espaço */
}

.formInput .ant-select-selector {
    font-size: 22px !important;       /* Aumenta o tamanho da fonte */
    padding: 8px !important;          /* Adiciona padding para dar mais espaço */
}

.formInput label {
    font-size: 18px !important;
    margin-bottom: -10px !important;    
    margin-top: 5px !important;
    color: var(--label-color); 
    font-weight: bold;      
    display: block;          
}



.formSubmit{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 100px;
    margin-top: 5px;
    font-size: 22px;
    padding: 16px;
}

.formDate{
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
}