.container {
  height: auto;
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
  flex-direction: column;
}

.chartTitle {
  margin: 0;
  padding: 0;
  font-size: var(--font-size-md);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-medium);
}

.canvas {
  max-width: 19rem;
  max-height: 19rem;
  margin: 15px 0px 15px 0px !important;
}

.emptyMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: gray;
}

.categoryList {
  margin-top: -30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.categoryItem {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.colorBox {
  width: 15px;
  height: 15px;
  margin-right: 8px;
  border-radius: 3px;
}

.categoryLabel {
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-sm);
  margin-right: 4px;
}

/* Estilos para telas maiores */
@media screen and (min-width: 575px) {
  .container {
    padding-left: 20px;
    height: auto;
    min-height: 600px;
  }
}

/* Estilos para telas menores */
@media screen and (max-width: 574px) {
  .container {
    height: auto;
    min-height: 600px;
    width: 100%;
    padding: 10px !important;
  }

  .categoryList {
    padding: 0px;
    display: flex;
    flex-direction: column;
  }

  .categoryItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4px 0;
  }

  .colorBox {
    width: 18px;
    height: 18px;
    margin-right: 10px;
  }

  .categoryLabel,
  .categoryValue {
    font-size: 1rem;
  }
}

.toggleWrapper {
  position: relative;
  margin: 15px 0px -4px 0px !important;
}

.toggleInput {
  position: absolute;
  left: -9999px;
}

.toggleLabel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 180px;
  height: 40px;
  background: var(--back-color-secondary);
  border-radius: 100px;
  transition: all 0.3s ease;
  margin: 0 auto;
  overflow: hidden;
}

.toggleText {
  position: absolute;
  color: var(--font-color);
  font-size: 14px;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  z-index: 1;
  width: 90px;
  text-align: center;
}

.toggleText:first-child {
  left: 0;
  transform: translateX(0);
}

.toggleText:last-child {
  right: -90px;
  transform: translateX(0);
}

.toggleInput:checked+.toggleLabel .toggleText:first-child {
  transform: translateX(-90px);
}

.toggleInput:checked+.toggleLabel .toggleText:last-child {
  transform: translateX(-90px);
}

.toggleLabel::before {
  content: '';
  position: absolute;
  left: 2px;
  width: 90px;
  height: 36px;
  border-radius: 45px;
  background: #f63737;
  transition: all 0.3s ease;
  transform: translateX(0);
}

.toggleInput:checked+.toggleLabel::before {
  transform: translateX(86px);
  background: #21f348;
}

/* Efeito hover */
.toggleLabel:hover::before {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* Efeito de foco para acessibilidade */
.toggleInput:focus+.toggleLabel {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

/* Animação suave ao clicar */
.toggleLabel:active::before {
  transform: scale(0.95);
}

.emptyMessage {
  display: list-item;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: gray;

}

.chartWrapper {
  position: relative;
}

.totalValue {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-weight: bold;
}